.navigator {
    background-color: black;
    overflow: hidden;
}

.navigator a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
}

.navigator a:hover {
    background-color: aqua;
    color: black;
}

.navigator a.selected {
    background-color: aqua;
    color: black;
}