/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header and Navigation */
.site-header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar .logo img {
    max-height: 100px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.navbar a:hover,
.dropbtn:hover,
.dropdown-content a:hover {
    background-color: #555;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.slideshow-container {
    width: 80%; 
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.slide {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 500px; 
    width: 100%;
}

.slide img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.text {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 20px;
}

.btn {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}

/* Footer */
.site-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav ul li {
    display: inline;
    margin-right: 20px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #ddd;
}

.footer-cta .btn-primary {
    background: #ff6b6b;
}

.footer-cta .btn-primary:hover {
    background: #ff4757;
}

.footer-cta {
    padding: 10px;
}